@import url("https://fonts.googleapis.com/css?family=Raleway");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Raleway", sans-serif;
}

header {
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: #fff;
    height: 7vh;
}

nav {
    width: 25%;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.span-tracker {
    color: #0ef;
}

/* ----------------------Header Section Completed--------------- */
.main-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #212121; */
    /* background-repeat: no-repeat; */
    background-position: center;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/25/23/15/moon-1859616_1280.jpg");
    color: #fff;
    padding: 1rem;

}

.container-main {
    width: 70%;
    height: 90vh;
    border: 1px solid rgb(241, 206, 206);
    border-bottom-right-radius: 3rem;
    border-top-left-radius: 3rem;
    backdrop-filter: blur(8px);
}
.title{
    text-align: center;
}
.balance-field{
    padding: 2rem;
    padding-bottom: 1rem;
    /* border: 1px solid blue; */
}
.same-box{
    width: 80%;
    margin: auto;
}
.tracker{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* border: 1px solid yellow; */
    border-bottom: 1px solid;
    /* outline: #fff; */
}
.common-prop{
    width: 45%;
    /* display: flex; */
    /* justify-content: center; */
    
    padding: 0.5rem;
    /* align-items: center; */
    height: 10vh;
}
.income-field{
    border-right: 1px dashed #fff;
}
.history-container{
    /* border: 1px solid pink; */
    padding: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: red;
    height: 30vh;
}
.history-common{
    /* border: 1px solid blue; */
    border-bottom: 1px solid ;
    display: flex;
    justify-content: space-between;
    /* justify-content: space-evenly; */
    /* align-content: center; */
    align-items: center;
     padding: 0.5rem;
}
.transcation{
    padding: 1rem;
}
form{
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
}
form input{
    width: 70%;
    /* outline: none; */
    outline-color: #1e8449;
    border: none;
    /* margin: auto; */
    margin-left: 1rem;
    font-size: 1.2rem;
    margin-bottom: 1em;  
}

.item input:nth-child(2){
    text-align: right;
    /* background-color: transparent; */
    outline: none;
    border: none;
    /* color: #fff; */
    width: 27%;
    font-size: 1.2rem;
}
.item input:nth-child(3){
    text-align: right;
    background-color: transparent;
    outline: none;
    border: none;
    width: 10%;
    color: #fff;
    font-size: 1.2rem;
}
.money span{
    font-size: 1.3rem;
}
.item input:nth-child(1){
    /* text-align: right; */
    /* background-color: transparent; */
    outline: none;
    border: none;
    width: 30%;
    /* color: #fff; */
    font-size: 1.2rem;
}
.visible{
    display: none;
}
form button{
    width: 40%;
    margin-left: 1rem;
    /* font-size: 1.2rem; */
    /* padding: 0.5rem; */
    /* background-color: #212121; */
    /* color: #fff; */
}

::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888; /* color of the thumb */
    border-radius: 6px;
    border: 2px solid #fff;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* color of the track */
    border-radius: 6px;
  }
@media  (max-width: 768px){
    .container-main{
        width: 100%;
        
    }
    .main-section{
        padding: 0;
    }
    .history-container{
        /* padding: 0; */
    }
    .balance-field{
        /* padding: 1rem; */
    }
    .same-box{
        width: 95%;
    }
    .item input:nth-child(3){
       
        width: 20%;
    }
    .trans-name{
        display: none;
    }
    .visible{
        display:inherit;
    }
}
/* submit button design  */
.submit-btn {
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .submit-btn:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
  }
  
  .submit-btn:active {
    transform: translateY(2px);
    transition-duration: .35s;
  }
  
  .submit-btn:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
  }